.idea/workspace.xml
.idea/dbnavigator.xml
dbs/
venv/
*.~tst
*.~sql
*.~pdc
*.~bdy
.idea/dictionaries/*
.idea/inspectionProfiles/Project_Default.xml
.idea/dbnavigator.xml
.idea/misc.xml
*.log
*.pyc
.idea/misc.xml
.idea/other.xml
.idea/dataSources.local.xml
.idea/dataSources/
logs/
/abs2.egg-info/*
/abs.egg-info/*
/dbs_plplus_texts/
/config.yml
